body {
    font-family: sans-serif;
    background-image: linear-gradient(violet, white);
    text-align: center;
}
footer{
    text-align: left;
}
h1:hover{
    
    transform: scale(3);
    transition: all 6s linear;
}
iframe:hover{
    transform: scale(0.5);
    transition: all 6s linear;
}
